.offer-wrapper {
    width: 100%;
    background-color: var(--offWhite);
    display: flex; 
    align-items: center;
  }
  
  .offer-container {
    gap: 1rem;
    max-width: 1200px;
    /* margin: 0 auto; */
    padding: 2rem;
    justify-content: center;
  }

  .section-title {
    font-size: 1.5rem;
    color: var(--primary);
    margin-bottom: 1rem;
  }

  .offer-section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .offer-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    padding: 20px;
  }
  
  .offer-item {
    background: white;
    padding: 1rem;
    gap:2rem;
    border-radius: 8px;
    max-width: 1000px;
    /* text-align: center; */
  }

  .offer-item p{
    margin-bottom: 1rem;
  }

  .offer-item-points {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center;
    align-items: center; */
  }

  .offer-list-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: var(--shadow);
    border-radius: 8px;
    margin:1rem;
    padding:1rem;
    width: 200px;
    gap:20px;
    cursor:pointer;
    transition: transform 0.3s ease-in-out;
  }

  .offer-list-con p {
    color: white;
    text-align:center;
  }

  .offer-list-con:hover {
    transform: scale(1.05);
  }
  
  .offer-icon {
    font-size: 2.5rem;
    color: var(--green);
    margin-bottom: 0.5rem;
  }
  
  
  p {
    font-size: 1rem;
    color: var(--secondary);
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .offer-items {
      /* flex-direction: row;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      gap: 1rem; */
      /* justify-content: flex-start;
      padding: 0 10px; */
      /* justify-content: flex-start; */
      align-items: center;
      /* background-color: green; */
    }
  
    .offer-item {
      /* justify-content: flex-start; */
      max-width: none;
      width: 100vw;
      /* justify-content: center;
      align-items: center; */
      /* background: yellow; */
    }

    .offer-item-points {
      flex-direction: row;
      /* background-color: aqua; */
      flex-wrap:nowrap;
      justify-content: flex-start;
      align-items: center;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      gap: 1rem;
      padding:20px;
      -webkit-overflow-scrolling: touch;
      scroll-behavior: smooth;
       -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }

    .offer-item-points::-webkit-scrollbar {
      display: none;
    }

    /* .offer-item-points {
      flex-direction: row;
      flex-wrap:nowrap;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      gap: 1rem;
      justify-content: flex-start;
      padding: 0 10px;
    }

    .offer-list-con {
      scroll-snap-align: start;
      flex-shrink: 0;
      width: 55%;
      margin-bottom: 2rem;
    } */

    .offer-list-con {
      scroll-snap-align: start;
      flex-shrink: 0;
      /* width: 50%; */
      max-width: 300px;
      min-width: 250px;
      max-height: 300px;
      min-height: 250px;
    }
  }
  
  
  @media (max-width: 480px) {
    .primaryText {
      font-size: 2rem;
    }
  
    .offer-icon {
      font-size: 2rem;
    }
  }