.client-HomeMain-Con{
  display: flex;
  flex-direction: column;
}

.client-logoForSmallScreen {
  margin-top: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.client-logoForSmallScreen img {
  width: 200px;
}


.client-tabs-container {
    overflow-x: auto; /* Allow horizontal scrolling */
    white-space: nowrap; 
    display: flex;
    width: 100vw; 
    box-sizing: border-box;
    scroll-snap-type: x mandatory; /* Smooth scrolling */
    padding-right: 16px;
}

/* Styles about the logo in smaller screen is in realtor folder */

.client-tabs-container::-webkit-scrollbar {
    display: none; /* Hide scrollbars on WebKit browsers */
}

.client-tabs-container {
    -ms-overflow-style: none; /* Hide scrollbar on IE and Edge */
    scrollbar-width: none; /* Hide scrollbar on Firefox */
}

.client-tab-panel {
    width: 100%;
    box-sizing: border-box;
}

body {
    margin: 0; /* Remove body margin to prevent extra space */
}

@media (max-width: 900px) {
  .client-logoForSmallScreen {
    display: flex;
  }
}

@media (max-width: 800px) {
}

@media (max-width: 700px) {
}
@media (max-width: 600px) {
  .client-logoForSmallScreen img {
    width: 150px;
  }

}

@media (max-width: 500px) {
}

/* Styles for PostList for all the Top Tabs */