.clientProBtnOptionsCon {
    display: flex;
    width: 80vw;
    padding:20px;
    flex-direction: column;
}

.btnCard {
    justify-self: center;
    padding: 15px;
    margin: 10px 0;
    /* min-width: 700px; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(219, 219, 219, 0.4);
    border-radius: 15px;
    box-shadow: 6px 9px 8px rgba(0, 0, 0, 0.4);
}

.proBtnTxt {
    font-size: 18px;
    font-weight: bold;
    color: #1b1b1b;
}

.nxtIcon {
    font-size: 25px;
}

@media (max-width: 1300px) {

}

@media (max-width: 900px) {
    .clientProBtnOptionsCon {
        width: 100vw;
        margin-top:10%;
        margin-bottom: 12rem;
    }

}

@media (max-width: 500px) {

}