.userNameInputAreaCon {
    position: relative;
    display: flex;
}


.usernameInputText {
  width: 100%;
  font-size: 16px;
  border: 1px solid #000;
  border-radius: 20px;
  padding: 10px;   
}

/* .formCommunText {
    padding: 10px;
    max-width: 600px;
    min-width: 600px;
    height: 300px;
    border-width: 1px;
    border-color: #060c29;
    border-radius: 20px;
    font-size: 16px;
    margin-bottom: 10px;
} */

.username-suggestions {
  position: absolute;
  top: 50px;
  left: 10px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  max-height: 150px;
  overflow-y: auto;
  width: 200px;
  z-index: 10;
  margin-top: 4px;
  padding: 0;
  list-style: none;
}

.username-suggestions li {
  padding: 6px 10px;
  cursor: pointer;
}

.username-suggestions li:hover {
  background: #f0f0f0;
}

.no-username-suggestions {
  padding: 6px 10px;
  color: gray;
}

@media (max-width: 900px) {

}

@media (max-width: 800px) {
}

@media (max-width: 700px) {
}

@media (max-width: 600px) {

}

@media (max-width: 500px) {

}

@media (max-width: 450px) {

}