.logoTabCon {
  position: fixed;
  top:0;
  z-index: 100;
  background-color: white;
}

.client-logoForSmallScreen {
  margin-top: 10px;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.client-logoForSmallScreen img {
  width: 200px;
}

.homeApproved-Tabs-container {
    position: fixed;
    /* top:0; */
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    overflow-x: auto; 
    white-space: nowrap; 
    display: flex; 
    justify-content: center;
    width: 70vw;
    box-sizing: border-box; 
    scroll-snap-type: x mandatory; 
    padding-right: 26rem;
}

.homeApproved-Tabs-container::-webkit-scrollbar {
    display: none; 
}

.homeApproved-Tabs-container {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.homeApproved-Tab-panel {
    /* margin-top: 2.5rem; */
    padding: 16px; 
    width: 100%; 
    box-sizing: border-box; 
}

body {
    margin: 0; 
    overflow-x: hidden;
}

@media (max-width: 1300px) {
}

@media (max-width: 900px) {
    .client-logoForSmallScreen {
        display: flex;
    }

    .homeApproved-Tabs-container {
        padding-right: 0;
        width: 100vw;
    }
}

@media (max-width: 700px) {
}

@media (max-width: 600px) {
    .client-logoForSmallScreen img {
        width: 150px;
    }
}

@media (max-width: 500px) {
}