.user-dashboard {
    display: flex;
    flex-direction: column;
    width: 70vw;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.user-dashboard-header {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

.user-search-input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.user-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.user-card {
  background-color: #f7f7f7;
  border-radius: 12px;
  padding: 15px;
  flex: 1 1 250px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  cursor: pointer;
}

.user-card p {
  margin: 5px 0;
}

@media (max-width: 900px) {
    .user-dashboard {
        width: 100vw;
        margin-bottom: 7rem;
    }
}

@media (max-width: 600px) {
}

@media (max-width: 500px) {

}