.bookingContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  /* margin-inline: 10px; */
  padding:20px;
  /* background-color: yellow; */
  /* align-items: center;
  justify-content: center; */
  
}

.bookingHeader {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.calendar {
  margin-top: 25px;
  width: 90%; /* Increase width */
  max-width: 600px;
}

.react-datepicker__day--selected {
  background-color: #ff3300 !important; 
  color: white !important; 
  border-radius: 50%;
}

.react-datepicker__day--in-range {
  background-color: #07da11 !important; 
  color: #141414 !important; 
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-range:hover {
  background-color: #74b300 !important; 
  color: white !important;
}


.selectedDates {
  font-size: 17px;
  font-weight: bold;
  gap: 5px;
  margin-block: 10px;
}

.range {
  font-size: 17px;
}

.rangeBold {
  font-size: 18px;
  font-weight: bold;
}

.selectCheck {
  font-size: 16px;
  font-style: italic;
  color: grey;
}

.slotsContainer {
  margin-top: 20px;
}

.slotsGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 1fr));
  gap: 12px;
}

/* For Vendor */
.vendorMangeSlotHeader{
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: var(--heading-color);
}
.slotsGridVendor {
  display: grid;
  grid-template-columns: repeat(3, minmax(140px, 1fr));
  gap: 12px;
}

.headerWithArrow {
  display: flex;
  align-items: center;
  gap:2rem;
  cursor: pointer;
}

.arrowBtn {
  background: none;
  border: none;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}

/* Continuation */
.slotBtn {
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #f9f9f9;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.slotBtn:hover:not(:disabled) {
  background: #e6f2ff;
  border-color: #3399ff;
}

.slotBtn.selected {
  background: #07da11;
  color: white;
  border-color: #07da11;
  font-weight: 600;
}

.slotBtn:disabled {
    background: #ffcccc; 
    border-color: #ff9999;
    color: #800000;
    cursor: not-allowed;
    opacity: 0.8;
}

/* .slotBtn:disabled {
  background: #e0e0e0;
  border-color: #ccc;
  color: #888;
  text-decoration: line-through;
  cursor: not-allowed;
} */


.priceLabel {
  font-weight: bold;
  font-size: 20px;
}

.priceValue {
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 2rem;
}

.bookingNxtBtn {
  position: fixed;
  background-color: #23a508;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  left: 680px;
  right: 380px;
  margin-top: 20px;
  bottom: 0.7rem;
  border-radius: 20px;
}

.bookingNxtIcon {
  font-size: 50px;
  font-weight: bold;
  color: white;
}
@media (max-width: 1200px) {
  .bookingNxtBtn {
    left: 480px;
    right: 180px;
  }
}
@media (max-width: 900px) {
  .bookingContainer {
    width: 100vw;
  }
  .calendar {
    display: flex;
    margin-top: 25px;
    /* background-color: red; */
    max-width: 600px;
    justify-self: center;
  }

  .slotsGrid {
    margin-bottom: 12rem;
  }
  .slotsGridVendor {
    margin-bottom: 2rem;
  }
  
  .bookingNxtBtn {
      position: fixed;
      background-color: #23a508;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px;
      right: 220px;
      left: 220px;
      margin-top: 20px;
      margin-bottom: 5rem;
      border-radius: 20px;
  }
  .priceValue {
    margin-bottom: 5rem;
  }
}

@media (max-width: 700px) {
  .slotsGrid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }

  .slotsGridVendor {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}

@media (max-width: 500px) {
  /* .bookingContainer {
  } */

  .bookingHeader {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  .bookingNxtBtn {
    right: 120px;
    left: 120px;
  }
}
