
.bookingCountContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookingCountText{
    color: rgb(110, 110, 110);
}


@media (max-width: 1300px) {
}

@media (max-width: 900px) {
   
}
@media (max-width: 700px) {

}
@media (max-width: 600px) {

}

@media (max-width: 500px) {

}
