.homeApproved-Tabs-container {
    position: fixed;
    top:3.2rem;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    overflow-x: auto; 
    white-space: nowrap; 
    display: flex; 
    width: 70vw;
    box-sizing: border-box; 
    scroll-snap-type: x mandatory; 
}

.homeApproved-Tabs-container::-webkit-scrollbar {
    display: none; 
}

.homeApproved-Tabs-container {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.homeApproved-Tab-panel {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px; 
    width: 100%; 
    box-sizing: border-box; 
}

body {
    margin: 0; 
    overflow-x: hidden;
}

@media (max-width: 1300px) {
}

@media (max-width: 900px) {

    .homeApproved-Tabs-container {
        width: 100vw;
        top:9.7rem;
    }

    .homeApproved-Tab-panel {
      margin-top: 8rem;
    }
}

@media (max-width: 700px) {
}

@media (max-width: 600px) {
}

@media (max-width: 500px) {
  .homeApproved-Tabs-container {
        top:8rem;
    }

    .homeApproved-Tab-panel {
      margin-top: 6rem;
    }
}