.propertyDetailsMapCon {
  position: relative;
  display: flex;
  flex-direction: column;
  /* padding:20px; */
  width: 78vw;
  height: 90vh;
}

.propertyDetailsGoogleMapContainer {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.myLocationButton {
  position: absolute;
  bottom: 4rem;
  left: 10px;
  background: rgb(199, 196, 196);
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 2;
}


@media (max-width: 1300px) {
  .propertyDetailsMapCon {
    width: 72vw;
  }
}
@media (max-width: 900px) {
  .propertyDetailsMapCon {
    width: 97vw;
    height: 81vh;
  }

  /* .googleMapContainer {
    height: 100%;
  } */
}
@media (max-width: 500px) {
  .propertyDetailsMapCon {
    width: 92vw;
    height: 83vh;
  }
}