.selectMContainer {
  display: flex;
  height: 100vh;
  width:80vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

.selectMIcon {
  font-size: 48px;
  color: #0d0430;
  margin-bottom: 10px;
}

.file-input {
  display: none;
}

.disclaimer {
  margin-top: 20px;
  font-size: 14px;
  color: #999;
}

@media (max-width: 1300px) {
  .selectMContainer {
    width:70vw;
  }
}

@media (max-width: 900px) {
  .selectMContainer {
    width:100vw;
  }
}
@media (max-width: 700px) {

}
@media (max-width: 600px) {
}

@media (max-width: 500px) {
}