.profileMainContainer{
    padding: 30px;
    margin-bottom: 8rem;
    width:80vw;
}

@media (max-width: 1300px) {
  .profileMainContainer{
    width: 70vw;
  }
}


@media (max-width: 900px) {
  .profileMainContainer{
    width: 100vw;
    padding: 20px;
  }
}
@media (max-width: 500px) {
 
}