.reviewUploadCon {
    display: flex;
    flex-direction: column;
}


.reviewMediaFullDisplayContainer{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 70vh;
    overflow-y: auto; 
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    background-color: rgb(231, 229, 229);
    border-radius: 30px;
}

/* The rest of media display is in DisplayMedia style component */

/* .uploadPropRow{} */

.displayLabel {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}

.uploadPropDetails {
    white-space: pre-wrap; /* Preserves whitespace, including newlines */
    background: rgb(4, 4, 49);
    border-radius: 20px;
    padding: 15px;
    font-size: 1.2rem;
    color:white;
    width:100%;
}

@media (max-width: 1300px) {
}

@media (max-width: 900px) {

    .reviewMediaFullDisplayContainer {
        width: 90%;
        margin-right: 0rem;
        margin-left: 0rem;
    }

    
}
@media (max-width: 700px) {
}
@media (max-width: 600px) {
}

@media (max-width: 500px) {
    .reviewMediaFullDisplayContainer {
        height: 50vh;
        margin-right: 2rem;
    }

}