.realtorNoListings {
  text-align: center;
  font-weight: bold;
  color: #afadad;
  font-size: 30px;
  position: relative;
  top: 30%;
  margin-right: 0;
}

.realtorLogoForSmallScreen {
  display: none;
  /* justify-content: center; */
  margin-top: 10px;
  align-items: center;
  /* margin-left: 250px; */
  cursor: pointer;
}

.realtorLogoForSmallScreen img {
  width: 200px;
}

.realtorRefreshBtnCon {
  display: flex;
  justify-content: center;
}


@media (max-width: 900px) {
  .realtorLogoForSmallScreen {
    display: flex;
  }
}

@media (max-width: 800px) {
  .realtorLogoForSmallScreen {
    margin-left: 160px;
  }
}

@media (max-width: 700px) {
  .realtorLogoForSmallScreen {
    margin-left: 180px;
  }
}
@media (max-width: 600px) {

  .realtorLogoForSmallScreen {
    margin-left: 120px;
  }

  .realtorLogoForSmallScreen img {
    width: 150px;
  }

}

@media (max-width: 500px) {
  .realtorLogoForSmallScreen {
    margin-left: 95px;
  }
}