.postListContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.2rem;
  justify-content: center;
  padding: 30px;
}

.realtorNoListngsCon {
  display: flex;
  margin-top: 3.5rem;
  width: 70vw;
  justify-content: center;
}

.realtorNoListings {
  text-align: center;
  font-weight: bold;
  color: #afadad;
  font-size: 30px;
  position: relative;
  top: 30%;
  margin-left: 10px;
  margin-right: 10px;
}

.realtorLogoForSmallScreen {
  display: none;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

.realtorLogoForSmallScreen img {
  width: 200px;
}

.realtorRefreshBtnCon {
  display: flex;
  justify-content: center;
}


@media (max-width: 900px) {
  .realtorLogoForSmallScreen {
    display: flex;
    margin-bottom: 15px;
    width: 100vw;
  }

  .realtorNoListngsCon {
    align-self: center;
    display: flex;
    width: 100vw;
    justify-content: center;
  }
}

@media (max-width: 800px) {
}

@media (max-width: 700px) {
}
@media (max-width: 600px) {

  .realtorLogoForSmallScreen img {
    width: 150px;
  }

}

@media (max-width: 500px) {
}