/* styles.css */
.container {
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

.imageContainer {
  aspect-ratio: 3/2; /* Aspect ratio for the image */
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #15141a;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.bedroom,
.location {
  font-size: 15.5px;
  color: var(--comments-color);
}

.contact {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.name {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.7px;
  color: #141414;
}

.description {
  font-size: 17px;
  line-height: 22px;
  color: var(--primary-color);
}

.price {
  font-size: 17px;
  font-weight: bold;
}

.priceRow {
  display: flex;
  margin-top: 5px;
  margin-bottom: 3rem;
}

@media (max-width: 900px) {
  
}