.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #fff; 
  color: #0b0431;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1); 
}

/* Dashboard heading */
.sidebar h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #040842; /* Highlighted heading color */
  text-align: center;
}

/* Navigation links */
.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin: 15px 0;
}

.nav-container {
  display: flex;
  align-items: center;
  gap:0.5rem;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #0c0533;
  font-size: 1.2rem;
  padding: 10px;
  display: block;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
}

.sidebar nav ul li a:hover {
  font-size: 1.3rem;
  background-color: #f0f0f0; 
  color: #26e600; 
}

.sidebar nav ul li a svg {
  font-size: 1.8rem;
}

/* Bottom tab navigator (hidden by default) */
.bottom-nav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: #0b0431;
  justify-content: space-around;
  padding: 15px 0;
  box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}

.bottom-nav a svg {
  font-size: 1.5rem; 
}

.bottom-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #0c0533;
  font-size: 1rem;
  transition: color 0.3s;
}

.bottom-nav a:hover {
  color: #26e600;
}

.active-link {
  font-weight: bold; /* Make the active link bold */
  border-radius: 5px;
}

/* Media query for max-width: 900px */
  @media (max-width: 900px) {
      .sidebar {
          display: none;
      }
  
      /* .content {
          margin-left: 0; 
      } */
  
      .bottom-nav {
          display: flex; 
      }
  }