

.mainSubHeader-payout {
    color: #0e0530;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(28, 212, 11);
    border-radius: 20px;
}

@media (max-width: 1300px) {

}
@media (max-width: 900px) {
    
}

@media (max-width: 500px) {
    
}