.c-container{
    height: 100vh;
    justify-content: center;
}
.contact-details {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 1rem;
}
  
.contact-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 1.5rem;
}
  
.contact-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    color: var(--black);
}
  
.contact-icon {
    font-size: 1.2rem;
    color: var(--secondary);
}
  
.contact-item span {
    font-size: 0.95rem;
    color: var(--black);
}

/* .bold-txt {
}  it is in aboutus.css*/

@media (max-width: 768px) {
    .contact-row {
        display: flex;
        gap:0.5rem;
        flex-direction: column;
    }
    .contact-details {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
  }