/* The rest of the styles is gotten from explore details style */

.realtorContentContainer {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 10px;
    margin-inline: 10px;
    position: relative;
}
.toggleCon {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.availableTxt {
    font-size: 20px;
    font-weight: 600;
    margin-right: 8px;
}

.realtorSubheader {
    font-size: 19px;
    font-weight: bold;
    color: var(--heading-color);
    line-height: 25px;
}

.realtorDetailss {
    white-space: pre-wrap; /* Preserves whitespace, including newlines */
}

.realtorPropDesc {
    white-space: pre-wrap; /* Preserves whitespace, including newlines */
}

.deleteDiv {
    display: flex;
    justify-content: center;
}

.deleteCon {
    display: flex;
    background: red;
    max-width: 300px;
    min-width: 300px;
    padding:10px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    margin: 20px  ;
}

.deleteTxt {
    color:white;
    font-weight: bold;
    font-size: 20px;
}

@media (max-width: 900px) {
    .realtorContentContainer{
        width: 90%;
    }
}
@media (max-width: 700px) {
    .realtorContentContainer{
        width: 95%;
    }
}
@media (max-width: 600px) {
    .realtorContentContainer{
        width: 95%;
    }
}
@media (max-width: 500px) {
    .realtorContentContainer{
        width: 92%;
    }

    .deleteCon {
        max-width: 250px;
        min-width: 250px;
    }
}