.communityTabs-container {
    position: fixed;
    top:0;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid #e0e0e0;
    overflow-x: auto; 
    white-space: nowrap; 
    display: flex; 
    justify-content: center;
    width: 70vw;
    box-sizing: border-box; 
    scroll-snap-type: x mandatory; 
    padding-right: 26rem;
}

.communityTabs-container::-webkit-scrollbar {
    display: none; 
}

.communityTabs-container {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

.communityTab-panel {
    margin-top: 2.5rem;
    padding: 16px; 
    width: 100%; 
    box-sizing: border-box; 
}

.addIconCon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 70%; 
    right: 10px; 
    transform: translateY(-70%);
    z-index: 1000; 
    /* width:40px;
    height:40px; */
    padding:10px;
    background: var( --blue-gradient);
    color:white;
    border-radius: 10px;
    cursor: pointer;
}

.addIcon {
    font-size: 28px;
}

body {
    margin: 0; 
    overflow-x: hidden;
}

@media (max-width: 1300px) {
}

@media (max-width: 900px) {
    .communityTabs-container {
        padding-right: 0;
        width: 100vw;
    }
}

@media (max-width: 700px) {
}

@media (max-width: 600px) {
}

@media (max-width: 500px) {
}