.dAlatAcceptedContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
}

@media (max-width: 900px) {
    .dAlatAcceptedContainer {
        margin-bottom: 5rem;
    }
}
@media (max-width: 700px) {

}
@media (max-width: 600px) {

}

@media (max-width: 500px) {
  .dAlatAcceptedContainer {
      margin-left: -10px;
  }
}