.gridRealContainer {
    display: -webkit-grid; /* Force webkit rendering */
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px; 
    row-gap: 5px; /* Ensures consistent spacing between rows */
    column-gap: 5px; /* Ensures consistent column spacing */
}

.gridRealItem {
  display: flex;
  flex-direction: column;
}

.mediaImageRealContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  aspect-ratio: 3/4; 
  overflow: hidden;
  position: relative;
}


.proRealMedia {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.proRealMediaImage {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.proRealPostVideoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.proRealPostVideoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: transparent;
  /* background-color: blue; */
  cursor: pointer;
}

@media (max-width: 900px) {
  .gridRealContainer {
    row-gap: 5px; /* Ensure consistent spacing on smaller screens */
  }
}