.gridRealContainer {
    display: -webkit-grid; /* Force webkit rendering */
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 5px; 
    row-gap: 5px; /* Ensures consistent spacing between rows */
    column-gap: 5px; /* Ensures consistent column spacing */
}

.gridRealItem {
  display: flex;
  flex-direction: column;
}

.mediaImageRealContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  aspect-ratio: 3/4; 
  overflow: hidden;
  position: relative;
}

.subscribeLabelRealtorProfile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  left: 5px;
  background: rgba(0,0,0,0.8);
  border-radius: 20px;
  padding: 4px 8px;
}

.subscribeLabelRealtorProfile p {
  color: white;
  font-size: 0.8rem;
}

.unavailableLabelRealtorProfile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 5px;
  background: rgba(0,0,0,0.8);
  border-radius: 20px;
  padding: 4px 8px;
}

.unavailableLabelRealtorProfile p {
  color: white;
  font-size: 0.8rem;
}

.proRealMedia {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.proRealMediaImage {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.proRealPostVideoWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.proRealPostVideoOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  background: transparent;
  /* background-color: blue; */
  cursor: pointer;
}

@media (max-width: 900px) {
  .gridRealContainer {
    row-gap: 5px; /* Ensure consistent spacing on smaller screens */
  }
  
  .subscribeLabelRealtorProfile p {
    font-size: 0.7rem;
  }

  .unavailableLabelRealtorProfile p {
    font-size: 0.7rem;
  }

}